<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_save_commit_after">
		<observer name="elgentos-link-guest-orders-customer-save-commit-after" instance="Elgentos\LinkGuestOrdersToCustomer\Observer\Customer\SaveCommitAfter"/>
	</event>
</config>
